
button{
    text-transform: uppercase;
    margin: 0 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
}
.direita {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 190px;
    margin-left: 1250px;
}

.esquerda {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 200px;
    margin-left: -10px;
}



