img {
    width: 70px;
    margin: 0 280px 0 40px;
}

.navbar,
.navbar-expand {
    background-color: #41BDD9;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 99;
}

.active {
    background-repeat: no-repeat;
    color: #A65132;
    width: 120px;
    text-decoration: none ;
    text-align: center;
    background-position: bottom;
}

.header-container {
    display: flex;
}

a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #FFF ;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    text-align: center;
}

a:hover {
    background-repeat: no-repeat;
    color: #FFF ;
    background-position: bottom;
}
.menu{
    
    border:none;
    flex-direction: column ;
    padding: 0;
    position: static ;
    margin-left: 300px;
    outline: none ;
    border: none ;
    box-shadow: none ;
    margin-top: -45px;
    align-items: center;
    
    
    
    
}